@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Custom styles */
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.backdrop-filter {
  backdrop-filter: blur(8px);
}